html,
body {
  overflow-x: hidden;
  -ms-overflow-style: none;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li:not(.active) > a:hover {
    color: grey;
}

* {
  box-sizing: border-box;
}

article::-webkit-scrollbar {
    display: none;
}

article a {
  color: royalblue;
}

article a:hover {
  text-decoration: underline;
}

article > h1:first-child {
  margin-top: 0;
}
